<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Natori</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fbappid</string>
				<string>com.googleusercontent.apps.899605737400-hpmo51a4b4euqovvj3fterchiho5o2ec</string>
				<string>natori-appbrew</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>FacebookAppID</key>
	<string>FB_APP_ID</string>
	<key>FacebookClientToken</key>
	<string>FB_CLIENT_TOKEN</string>
	<key>FacebookDisplayName</key>
	<string>FB_APP_NAME</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to let you take photos for product reviews and profile pictures.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to provide a better shopping experience.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to save images to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to let you upload product images and profile pictures.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Your data will be used to show personalised ads to you.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Bauer Bodoni Black 900.otf</string>
		<string>Bauer Bodoni Bold 700.otf</string>
		<string>Bauer Bodoni Regular 400.otf</string>
		<string>Bauer Bodoni Roman 500.otf</string>
		<string>HelveticaNeueBlack.ttf</string>
		<string>HelveticaNeueBold.ttf</string>
		<string>HelveticaNeueHeavy.ttf</string>
		<string>HelveticaNeueLight.ttf</string>
		<string>HelveticaNeueMedium.ttf</string>
		<string>HelveticaNeueRoman.ttf</string>
		<string>HelveticaNeueThin.ttf</string>
		<string>HelveticaNeueUltraLight.ttf</string>
		<string>dm_sans_100.ttf</string>
		<string>dm_sans_100italic.ttf</string>
		<string>dm_sans_200.ttf</string>
		<string>dm_sans_200italic.ttf</string>
		<string>dm_sans_300.ttf</string>
		<string>dm_sans_300italic.ttf</string>
		<string>dm_sans_500.ttf</string>
		<string>dm_sans_500italic.ttf</string>
		<string>dm_sans_600.ttf</string>
		<string>dm_sans_600italic.ttf</string>
		<string>dm_sans_700.ttf</string>
		<string>dm_sans_700italic.ttf</string>
		<string>dm_sans_800.ttf</string>
		<string>dm_sans_800italic.ttf</string>
		<string>dm_sans_900.ttf</string>
		<string>dm_sans_900italic.ttf</string>
		<string>dm_sans_italic.ttf</string>
		<string>dm_sans_regular.ttf</string>
		<string>inter_100.ttf</string>
		<string>inter_100italic.ttf</string>
		<string>inter_200.ttf</string>
		<string>inter_200italic.ttf</string>
		<string>inter_300.ttf</string>
		<string>inter_300italic.ttf</string>
		<string>inter_500.ttf</string>
		<string>inter_500italic.ttf</string>
		<string>inter_600.ttf</string>
		<string>inter_600italic.ttf</string>
		<string>inter_700.ttf</string>
		<string>inter_700italic.ttf</string>
		<string>inter_800.ttf</string>
		<string>inter_800italic.ttf</string>
		<string>inter_900.ttf</string>
		<string>inter_900italic.ttf</string>
		<string>inter_italic.ttf</string>
		<string>inter_regular.ttf</string>
		<string>montserrat_100.ttf</string>
		<string>montserrat_100italic.ttf</string>
		<string>montserrat_200.ttf</string>
		<string>montserrat_200italic.ttf</string>
		<string>montserrat_300.ttf</string>
		<string>montserrat_300italic.ttf</string>
		<string>montserrat_500.ttf</string>
		<string>montserrat_500italic.ttf</string>
		<string>montserrat_600.ttf</string>
		<string>montserrat_600italic.ttf</string>
		<string>montserrat_700.ttf</string>
		<string>montserrat_700italic.ttf</string>
		<string>montserrat_800.ttf</string>
		<string>montserrat_800italic.ttf</string>
		<string>montserrat_900.ttf</string>
		<string>montserrat_900italic.ttf</string>
		<string>montserrat_italic.ttf</string>
		<string>montserrat_regular.ttf</string>
		<string>playfair_display_500.ttf</string>
		<string>playfair_display_500italic.ttf</string>
		<string>playfair_display_600.ttf</string>
		<string>playfair_display_600italic.ttf</string>
		<string>playfair_display_700.ttf</string>
		<string>playfair_display_700italic.ttf</string>
		<string>playfair_display_800.ttf</string>
		<string>playfair_display_800italic.ttf</string>
		<string>playfair_display_900.ttf</string>
		<string>playfair_display_900italic.ttf</string>
		<string>playfair_display_italic.ttf</string>
		<string>playfair_display_regular.ttf</string>
		<string>poppins_100.ttf</string>
		<string>poppins_100italic.ttf</string>
		<string>poppins_200.ttf</string>
		<string>poppins_200italic.ttf</string>
		<string>poppins_300.ttf</string>
		<string>poppins_300italic.ttf</string>
		<string>poppins_500.ttf</string>
		<string>poppins_500italic.ttf</string>
		<string>poppins_600.ttf</string>
		<string>poppins_600italic.ttf</string>
		<string>poppins_700.ttf</string>
		<string>poppins_700italic.ttf</string>
		<string>poppins_800.ttf</string>
		<string>poppins_800italic.ttf</string>
		<string>poppins_900.ttf</string>
		<string>poppins_900italic.ttf</string>
		<string>poppins_italic.ttf</string>
		<string>poppins_regular.ttf</string>
		<string>roboto_condensed_100.ttf</string>
		<string>roboto_condensed_100italic.ttf</string>
		<string>roboto_condensed_200.ttf</string>
		<string>roboto_condensed_200italic.ttf</string>
		<string>roboto_condensed_300.ttf</string>
		<string>roboto_condensed_300italic.ttf</string>
		<string>roboto_condensed_500.ttf</string>
		<string>roboto_condensed_500italic.ttf</string>
		<string>roboto_condensed_600.ttf</string>
		<string>roboto_condensed_600italic.ttf</string>
		<string>roboto_condensed_700.ttf</string>
		<string>roboto_condensed_700italic.ttf</string>
		<string>roboto_condensed_800.ttf</string>
		<string>roboto_condensed_800italic.ttf</string>
		<string>roboto_condensed_900.ttf</string>
		<string>roboto_condensed_900italic.ttf</string>
		<string>roboto_condensed_italic.ttf</string>
		<string>roboto_condensed_regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
